@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
@import "tailwindcss";

@theme {
  /* Custom Breakpoints */
  --breakpoint-xxl: 140rem;

  /* Primary Colors */
  --color-primary-dark-blue: hsl(233, 26%, 24%);
  --color-primary-lime-green: hsl(136, 65%, 51%);
  --color-primary-bright-cyan: hsl(192, 70%, 51%);

  /* Neutral Colors */
  --color-neutral-grayish-blue: hsl(233, 8%, 62%);
  --color-neutral-light-grayish-blue: hsl(220, 16%, 96%);
  --color-neutral-very-light-gray: hsl(0, 0%, 98%);

  /* Typography */
  --font-sans: 'Public Sans', ui-sans-serif, system-ui, sans-serif;

  /* Container config*/
  --container-px-base:1.5rem;
  --container-px-sm: 2.2rem;
  --container-px-md: 4rem;
  --container-px-lg: 6rem;
  --container-px-xl: 10.3rem;

  /* Header config*/
  --header-h-base: 4rem;
  --header-h-sm: 4.3rem;
  --header-h-md: 4.6rem;
  --header-h-lg: 4.9rem;
  --header-h-xl: 5.1rem;
}